/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* main img {
  width: 100px;
} */

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: center;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form > div {
  display: flex;
  justify-content: space-around;
}

img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (max-width: 380px){
  .logo{
    font-size: 55px;
  }
}

@media all and (min-width: 480px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-size: 36px;
  }
  #menu a {
    font-size: 14px;
  }
  
  form div {
    flex-direction: column;
    width: 20%;
  }

  form {
    display: flex;
    gap: 10px;
  }

  form button {
    width: 20%;
    font-size: 14px;
  }

  form input, form select {
    width: 100%;
    font-size: 68%;
  }

  #about div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #about img {
    width: 23%;
  }

  .row{
    display: flex;
    gap: 10px;
  }
  .row div{
    flex: 1;
    /* width: 50%; */
  }

  #host {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #host > img {
    width: 50%;
  }

}


@media all and (min-width:1000px) {
  form div, form button {
    width: 150px;
  }

  form{
    justify-content: space-between;
  }
}